<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_with_task.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_with_task.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_with_task.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_tasks in todo_with_task.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' todo_with_task.id %}">{{ todo_tasks.task }}</a></td>
                            <td>{{ todo_tasks.due_date|date:'M j, Y' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
